<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523845575062-gon6nhmjadqfcllgkcfv7figisg3l0aa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523845575062-gon6nhmjadqfcllgkcfv7figisg3l0aa</string>
	<key>API_KEY</key>
	<string>AIzaSyDSGYcgWwrnzz1BkOBLgOvSz4-LUSUWnR4</string>
	<key>GCM_SENDER_ID</key>
	<string>523845575062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend</string>
	<key>PROJECT_ID</key>
	<string>chateo-72766</string>
	<key>STORAGE_BUCKET</key>
	<string>chateo-72766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523845575062:ios:5016155e1dc5fcaef2bdb7</string>
</dict>
</plist>